services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    volumes:
      -  frontend_data:/app/dist

  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile.dev
    ports:
      - "9000:80"
    volumes:
      - ./nginx/dev.conf:/etc/nginx/nginx.conf:ro
      -  frontend_data:/usr/share/nginx/html
    depends_on:
      - frontend
      - auth
    networks: [appnet]

  gateway:
    build:
      context: ./backend
      dockerfile: services/gateway/Dockerfile
    expose:
      - "3000"
    env_file:
      - ./backend/services/gateway/.env
      - ./.env
    depends_on:
      - auth
      - user
    networks: [appnet]

  auth:
    build:
      context: ./backend
      dockerfile: services/auth/Dockerfile
    expose:
      - "3001"
    env_file:
      - ./.env
    networks: [appnet]

  user:
    build:
      context: ./backend
      dockerfile: services/user/Dockerfile
    expose:
      - "3002"
    env_file:
      - ./.env
    networks: [appnet]

  ws:
    build:
      context: ./backend
      dockerfile: services/ws/Dockerfile
    expose:
      - "3003"
    environment:
      - WS_PORT=3003
      - JWT_SECRET=${JWT_SECRET}
    networks: [appnet]

networks:
  appnet:
    driver: bridge

volumes:
  frontend_data: