services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    volumes:
      - frontend_data:/app/dist
    restart: "no"

  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    ports:
      - "9000:80"
      - "9001:443"
    volumes:
      - ./nginx/prod.conf:/etc/nginx/nginx.conf:ro
      - frontend_data:/usr/share/nginx/html
    depends_on:
      - frontend
      - gateway
      - ws
      - auth
      - user
    networks: [appnet]
    restart: unless-stopped

  gateway:
    build:
      context: ./backend
      dockerfile: services/gateway/Dockerfile
    environment:
      - GATEWAY_PORT=3000
      - AUTH_URL=http://auth:3001
      - USERS_URL=http://user:3002
      - REALTIME_URL=http://ws:3003
      - JWT_SECRET=${JWT_SECRET}
      - NODE_ENV=production
    expose:
      - "3000"
    depends_on:
      - auth
      - user
      - ws
    networks: [appnet]
    restart: unless-stopped


  auth:
    build:
      context: ./backend
      dockerfile: services/auth/Dockerfile
    environment:
      - AUTH_PORT=3001
      - DATABASE_URL=file:./account.db
      - JWT_SECRET=${JWT_SECRET}
      - NODE_ENV=production
    expose:
      - "3001"
    networks: [appnet]
    restart: unless-stopped

  user:
    build:
      context: ./backend
      dockerfile: services/user/Dockerfile
    environment:
      - USER_PORT=3002
      - DATABASE_URL=file:./profile.db
      - JWT_SECRET=${JWT_SECRET}
      - NODE_ENV=production
    expose:
      - "3002"
    networks: [appnet]
    restart: unless-stopped

  ws:
    build:
      context: ./backend
      dockerfile: services/ws/Dockerfile
    environment:
      - WS_PORT=3003
      - JWT_SECRET=${JWT_SECRET}
      - NODE_ENV=production
    expose:
      - "3003"
    networks: [appnet]
    restart: unless-stopped

networks:
  appnet:
    driver: bridge

volumes:
  frontend_data:
